<!-- toggle elements with game boolean -->
<div class="row" *ngIf="questionVisible">
	<div class="col-md-8">
		<div class="media" *ngIf="question">
			<div class="media-left">
				{{ i + 1 }}
			</div>

			<div class="media-body">
				<h4 class="media-heading">{{ question.question }}</h4>
				<p *ngIf="question.hint">
					<em>hint: {{ question.hint }}</em>
				</p>
				<p *ngIf="!game">possible answers: {{ question.answers }}</p>

				<div class="col-md-8">
					<input type="text"
				   		   class="form-control"
				   		   *ngIf="game"
				   		   [(ngModel)]="userAnswer">	
				</div>
			</div>
			
			<div class="media-right">
				{{ answerResponse }}
			</div>

			<div class="media-right">
				<button class="btn btn-danger" (click)="onDelete()" *ngIf="!game">delete Q</button>
				<button class="btn btn-warning" (click)="onEdit()" *ngIf="!game">Edit Q</button>
				<button class="btn btn-info" 
						(click)="checkAnswer()"
						[disabled]="answerResponse" 
						*ngIf="game">submit</button>
			</div>
		</div>
	</div>
</div>
