<div class="list-group">
	<h4 class="list-group-item-heading">What is this?</h4>
	<p class="list-group-item-text">
		This is a Angular2 MEAN stack application.
	</p>
</div>

<div class="list-group">
	<h4 class="list-group-item-heading">What is it supposed to do?</h4>
	<p class="list-group-item-text">
		Photo Recall is a memory game.  Users are shown an image for a brief duration, then answer questions about the content.  After sign-up, users can play unlimited sessions.  Users can apply to be Game Masters, and build and post their own sessions.  
	</p>
</div>

<div class="list-group">
	<h4 class="list-group-item-heading">What can it actually do?</h4>
	<p class="list-group-item-text">
		Currently, users can sign-up, sign-in, logout, read this FAQ, see early builds of a game session, and see how creating a game session may work. User info persists to the DB, although I delete the user collection often.  Game sessions can't be saved.
	</p>
</div>

<div class="list-group">
	<h4 class="list-group-item-heading">What are your priorities</h4>
	<p class="list-group-item-text">
		I've been working with Angular2 since early 2016, so I've seen a lot of changes.  I'm working through the pre-release versions towards the final release.
	</p>
</div>

<div class="list-group">
	<h4 class="list-group-item-heading">Can I see the code?</h4>
	<p class="list-group-item-text">
		Sure! Checkout out the <a href="https://github.com/ChildeRowland/photo-recall-MEAN2.0" target="_blank">Github repo.</a>
	</p>
</div>

<div class="list-group">
	<h4 class="list-group-item-heading">What about you?</h4>
	<p class="list-group-item-text">
		I'm a freelance web developer, who enjoys working with the MEAN stack and Javascript.  Here's my <a href="http://www.christophermehmed.com" target="_blank">portfolio.</a>
	</p>
</div>



