<div class="list-group">
	<h4 class="list-group-item-heading">What is this?</h4>
	<p class="list-group-item-text">
		This is a Angular2 MEAN stack application.
	</p>
</div>

<div class="list-group">
	<h4 class="list-group-item-heading">What is it supposed to do?</h4>
	<p class="list-group-item-text">
		Photo Recall is a memory game.  Users are shown an image for a brief duration, then answer questions about the content.  After sign-up, users can play unlimited sessions.  Users can apply to be Game Masters, and build and post their own sessions.  
	</p>
</div>

<div class="list-group">
	<h4 class="list-group-item-heading">What can it actually do?</h4>
	<p class="list-group-item-text">
		Currently, users can sign-up, sign-in, logout, read this FAQ, and see early builds of a game session. Although at this point, I delete the user collection often.
	</p>
</div>

<div class="list-group">
	<h4 class="list-group-item-heading">Do you need any help?</h4>
	<p class="list-group-item-text">
		Sure! Checkout out the <a href="https://github.com/ChildeRowland/angular-cli-mean2.0" target="_blank">Github repo.</a> I'd be most interested in a UI/UX person who can make playing a fun experience.
	</p>
</div>

<div class="list-group">
	<h4 class="list-group-item-heading">What about you?</h4>
	<p class="list-group-item-text">
		I'm a freelance web developer, who is obsessed with the MEAN stack.  Here's my <a href="http://www.christophermehmed.com" target="_blank">portfolio.</a>
	</p>
</div>
