<div class="jumbotron">
	<div class="container container-image">
		<div class="whitewash" *ngIf="!imageVisible">
			<div class="text-block" *ngIf="instructionsImage">
				<p>Study the image for 10 seconds...</p>
				<button class="btn btn-info" (click)="showImage()">Ok, Ready</button>
			</div>
			<div class="text-block" *ngIf="instructionsQuestion">
				<p>Now, answer some questions.</p>
				<p>There is no time limit.</p>
				<p>You have to answer each question to progress.</p>
				<button class="btn btn-info" (click)="startGame()">Right-O</button>
			</div>
		</div>

		<h4>Image uploaded by game master</h4>
		<img class="img-responsive" src="/assets/img/trivia_winners_ex.jpg" alt="trivia winners">
	</div>
</div>
