<section>
	<form [ngFormModel]="questionForm">
		<fieldset>
			<legend>
				New Question
			</legend>

			<div class="form-group">
				<label>Question</label>
				<input type="text" 
					   class="form-control" 
					   [ngFormControl]="questionForm.find('question')"
					   #question="ngForm">

				<div *ngIf="isError(question)">
					<div class="alert alert-danger">
						{{ errMessage(question).error.message }}
					</div>
				</div>
			</div>

			<div class="form-group">
				<label>Answers</label>
				<input type="text" 
					   class="form-control" 
					   [ngFormControl]="questionForm.find('answers')"
					   #answers="ngForm">

				<div *ngIf="isError(answers)">
					<div class="alert alert-danger">
						{{ errMessage(answers).error.message }}
					</div>
				</div>
			</div>

			<div class="form-group">
				<label>Hint</label>
				<input type="text" class="form-control">
			</div>

			<div class="form-group">
				<label>Test Input</label>
				<input type="text" 
					   class="form-control"
					   [ngFormControl]="questionForm.find('testInput')"
					   #testInput="ngForm"
					   (keyup)="checkAnswers(answers, testInput)">

				<div *ngIf="isInfo(testInput)">
					<div class="alert alert-info">
						{{ infoMessage(testInput).message }}
					</div>
				</div>
			</div>
		</fieldset>

		<button class="btn btn-primary" type="submit">
			Add Question
		</button>
	</form>
</section>
