<section>
	<form [formGroup]="questionForm" (ngSubmit)="addQuestion()">
		<fieldset>
			<legend>
				New Question
			</legend>

			<div class="form-group">
				<label for="question">Question</label>
				<div>
					<em>Ask one question about the photograph.</em>
				</div>
				<input type="text" 
					   class="form-control" 
					   formControlName="question" />

				<div *ngIf="isError(questionForm.controls.question)">
					<div class="alert alert-danger">
						{{ errMessage(questionForm.controls.question).error.message }}
					</div>
				</div>
			</div>

			<div class="form-group">
				<label for="answers">Answers</label>
				<div>
					<em>Enter the answers you want to evaulate as true, seperated by a space, ex: lamp light desklamp tasklight etc.</em>
				</div>
				<div>
					<em>If the answer is a phrase, remove the spaces between correct phrases, ex: underthetable undertable beneathtable etc.</em>
				</div>
				<input type="text" 
					   class="form-control" 
					   formControlName="answers" />

				<div *ngIf="isError(questionForm.controls.answers)">
					<div class="alert alert-danger">
						{{ errMessage(questionForm.controls.answers).error.message }}
					</div>
				</div>
			</div>

			<div class="form-group">
				<label for="hint">Hint</label>
				<div>
					<em>Clue the player of the type of answer you are looking for, ex: use zero instead of 0.</em>
				</div>
				<input type="text" 
					   class="form-control" 
					   formControlName="hint" />
			</div>

			<div class="form-group">
				<label for="testInput">Test Input</label>
				<div>
					<em>Test one answer at a time, and make sure it evalutes the way you want.</em>
				</div>
				<input type="text" 
					   class="form-control"
					   formControlName="testInput" 
					   (keyup)="checkAnswers(questionForm.controls.answers, questionForm.controls.testInput)" >

				<div *ngIf="isInfo(questionForm.controls.testInput)">
					<div class="alert {{ questionForm.controls.testInput.alert }}">
						{{ infoMessage(questionForm.controls.testInput).message }}
					</div>
				</div>
			</div>
		</fieldset>

		<button class="btn btn-primary" type="submit" [disabled]="!questionForm.valid">
			Add Question
		</button>
	</form>
</section>
