<section>
	<form [formGroup]="questionForm" (ngSubmit)="addQuestion()">
		<fieldset>
			<legend id="question-title">
				{{ editable ? 'Edit ' : 'New ' }}Question
			</legend>

			<div class="form-group">
				<label for="question">Question</label>
				<div>
					<em>Ask one question about the photograph.</em>
				</div>
				<input type="text" 
					   class="form-control"
					   formControlName="question" 
					   [(ngModel)]="question.question" />

				<div *ngIf="messengerService.isError(questionForm.controls.question)">
					<div class="alert alert-danger">
						{{ messengerService.errMessage(questionForm.controls.question).error.message }}
					</div>
				</div>
			</div>

			<div class="form-group">
				<label for="answers">Answers</label>
				<div>
					<em>Enter the answers you want to evaulate as true, seperated by a comma and space, ex: lamp, light, desklamp, task light etc.</em>
				</div>
				<div>
					<em>You can use phrases, but you may want to try using different variations, ex: under the table, under table, beneath table, etc.</em>
				</div>
				<input type="text" 
					   class="form-control" 
					   formControlName="answers"
					   [(ngModel)]="question.answers" />

				<div *ngIf="messengerService.isError(questionForm.controls.answers)">
					<div class="alert alert-danger">
						{{ messengerService.errMessage(questionForm.controls.answers).error.message }}
					</div>
				</div>
			</div>

			<div class="form-group">
				<label for="hint">Hint</label>
				<div>
					<em>Clue the player of the type of answer you are looking for, ex: use zero instead of 0.</em>
				</div>
				<input type="text" 
					   class="form-control" 
					   formControlName="hint"
					   [(ngModel)]="question.hint" />
			</div>

			<div class="form-group">
				<label for="testInput">Test Input</label>
				<div>
					<em>Test one answer at a time, and make sure it evalutes the way you want.</em>
				</div>
				<input type="text" 
					   class="form-control"
					   formControlName="testInput" 
					   (keyup)="checkAnswers(questionForm.controls.answers, questionForm.controls.testInput)" >

				<div *ngIf="messengerService.isInfo(questionForm.controls.testInput)">
					<div class="alert {{ questionForm.controls.testInput.alert }}">
						{{ messengerService.infoMessage(questionForm.controls.testInput).message }}
					</div>
				</div>
			</div>
		</fieldset>

		<button class="btn btn-primary" type="submit" [disabled]="!questionForm.valid">
			{{ editable ? 'update' : 'add' }}
		</button>
		<button class="btn btn-danger" *ngIf="editable" (click)="onCancel()">cancel</button>
	</form>
</section>




