<div>
	<div [ngClass]="{whitewash: submitting}"></div>	
	<section>
		<form [formGroup]="signupForm" (ngSubmit)="onSignup()">
			<fieldset>
				<legend>
					Sign Up
				</legend>
				<div class="form-group">
					<label for="name">Name</label>
					<input type="text" 
						   class="form-control"
						   id="name"
						   formControlName="name">

					<div *ngIf="messengerService.isError(signupForm.controls.name)">
						<div class="alert alert-danger">
							{{ messengerService.errMessage(signupForm.controls.name).error.message }}
						</div>
					</div>

					<div *ngIf="messengerService.isInfo(signupForm.controls.name)">
						<div class="alert alert-success">
							{{ messengerService.infoMessage(signupForm.controls.name).message }}
					</div>

				</div>

				</div>

				<div class="form-group">
					<label for="email">Email</label>
					<input type="email" 
						   class="form-control"
						   id="email"
						   formControlName="email">

					<div *ngIf="messengerService.isError(signupForm.controls.email)">
						<div class="alert alert-danger">
							{{ messengerService.errMessage(signupForm.controls.email).error.message }}
						</div>
					</div>

				</div>

				<div class="form-group">
					<label for="password">Password</label>
					<input type="password" 
						   class="form-control"
						   id="password"
						   formControlName="password">

					<div *ngIf="messengerService.isError(signupForm.controls.password)">
						<div class="alert alert-danger">
							{{ messengerService.errMessage(signupForm.controls.password).error.message }}
						</div>
					</div>

				</div>

				<div class="form-group">
					<label for="confirmPassword">Confirm Password</label>
					<input type="password"
						   class="form-control"
						   id="confirm-password"
						   formControlName="confirmPassword">

					<div *ngIf="messengerService.isError(signupForm.controls.confirmPassword)">
						<div class="alert alert-danger">
							{{ messengerService.errMessage(signupForm.controls.confirmPassword).error.message }}
						</div>
					</div>

				</div>
			</fieldset>	

			<button class="btn btn-priamry" 
					type="submit" 
					[disabled]="!signupForm.valid">
				Sign Up
			</button>
		</form>
	</section>
</div>
